name: release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch: {}

jobs:
  windows:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/eagle.exe
